@model Imoveis.Models.Imovel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Imovel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImovelId" />
            <div class="form-group">
                <label asp-for="ImovelDsc" class="control-label"></label>
                <input asp-for="ImovelDsc" class="form-control" />
                <span asp-validation-for="ImovelDsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelVlr" class="control-label"></label>
                <input asp-for="ImovelVlr" class="form-control" />
                <span asp-validation-for="ImovelVlr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelNumQrt" class="control-label"></label>
                <input asp-for="ImovelNumQrt" class="form-control" />
                <span asp-validation-for="ImovelNumQrt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelNumVag" class="control-label"></label>
                <input asp-for="ImovelNumVag" class="form-control" />
                <span asp-validation-for="ImovelNumVag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelTip" class="control-label"></label>
                <input asp-for="ImovelTip" class="form-control" />
                <span asp-validation-for="ImovelTip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelRua" class="control-label"></label>
                <input asp-for="ImovelRua" class="form-control" />
                <span asp-validation-for="ImovelRua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelBro" class="control-label"></label>
                <input asp-for="ImovelBro" class="form-control" />
                <span asp-validation-for="ImovelBro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelCdd" class="control-label"></label>
                <input asp-for="ImovelCdd" class="form-control" />
                <span asp-validation-for="ImovelCdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelUF" class="control-label"></label>
                <input asp-for="ImovelUF" class="form-control" />
                <span asp-validation-for="ImovelUF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImovelCEP" class="control-label"></label>
                <input asp-for="ImovelCEP" class="form-control" />
                <span asp-validation-for="ImovelCEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
