<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leon Imóveis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Imoveis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link href="~/css/página-inicial.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-xxl">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img" id="logo" src="~/img/imoveis/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_PageLink" />
                    <div class="align-self-end">
                        <partial name="_LoginLinks" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-xxl">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="pe-md-5 pe-lg-5 pe-xl-5 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <h4 class="center text-white-50"><i class="fa-solid fa-phone"></i>&nbsp;Contato</h4>
                <p class="center text-white-50">Leon Imóveis</p>
                <p class="center text-white-50">leonimoveis@gmail.com</p>
                <a href="tel:+5535991750013" class="center text-white-50">(35) 99175-0013 </a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 center">
                <img class="w-100 mb-3 center" id="logoFooter" src="~/img/imoveis/logo.png" />
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4" id="endereco">
                <h4 class="center text-white-50"><i class="fa fa-location-dot"></i>&nbsp;Endereço</h4>
                <p class="center text-white-50">Rua Mato Grosso</p>
                <p class="center text-white-50">Centro</p>
                <p class="center text-white-50">Poços de Caldas</p>
            </div>
            </div>

            &copy; @DateTime.Now.Year - Imoveis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome.min.js" asp-append-version="true"></script>
    <script src="~/js/nicepage.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
