<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Imoveis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Imoveis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome.min.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-xxl">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Imoveis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_PageLink" />
                    <div class="align-self-end">
                        <partial name="_LoginLinks" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-xxl">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="pe-5 col-4">
                <h4 class="center text-white-50">Contato</h4>
                <p class="center text-white-50">Nome da Imobiliaria: Imoveis fisco</p>
                <p class="center text-white-50">Email: xxxxxxx@gmail.com</p>
                <p class="center text-white-50">Telefone: 11944335566</p>
            </div>
            <div class="col-4">
                <img class="w-100" src="https://www.rotina.com.br/assets/img/logo-branca-rotina.png" />
            </div>
            <div class="col-4" id="endereco" style="left:50px;">
                <h4 class="center text-white-50">Endereço</h4>
                <p class="center text-white-50">Avenida Mansur 601</p>
                <p class="center text-white-50">Jardim europa</p>
                <p class="center text-white-50">Cep: 13543235</p>
            </div>
            </div>

            &copy; @DateTime.Now.Year - Imoveis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="~/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
