@using Microsoft.AspNetCore.Identity;
@using Imoveis.Models;
@using System.Security.Claims;

@inject IHttpContextAccessor _acessor;

@{
    var appUser = _acessor.HttpContext.User.Identity.Name;
    var appId = _acessor.HttpContext.User.FindFirst(ClaimTypes.Sid)?.Value;
}
<ul class="navbar-nav">
    @if (_acessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-link">
            <a id="manager" class="nav-link text-dark" asp-area="" asp-action="Index" title="Manager">Olá @appUser</a>
        </li>
        <li class="nav-link">
            <a class="nav-link btn-link text-dark" asp-route-returnUrl="@Url.Page("/Index", new { area = ""})" asp-action="Sair" asp-controller="Conta">Sair</a>
        </li>
    }
    else
    {
        <li class="nav-link">
            <a class="nav-link btn-link text-dark" asp-action="Login" asp-controller="Conta">Área Administrativa</a>
        </li>
    }
</ul>
