@model Imoveis.Controllers.ImoveisController

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MdImoveis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OnGetCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Imovel.Descricao" class="control-label"></label>
                <input asp-for="Imovel.Descricao" class="form-control" />
                <span asp-validation-for="Imovel.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Valor" class="control-label"></label>
                @Html.TextBoxFor(m => m.Imovel.Valor, new { data_val = "false" , @class = "form-control" , @data_rule_Required = "true" , @data_rule_maxlength = "18" })
                <span asp-validation-for="Imovel.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Quarto" class="control-label"></label>
                <input asp-for="Imovel.Quarto" class="form-control" />
                <span asp-validation-for="Imovel.Quarto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Vagas" class="control-label"></label>
                <input asp-for="Imovel.Vagas" class="form-control" />
                <span asp-validation-for="Imovel.Vagas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Tipo" class="control-label"></label>
                <select asp-for="Imovel.Tipo" class="form-control">
                    <option value="0">Vender</option>
                    <option value="1">Alugar</option>
                </select>
                <span asp-validation-for="Imovel.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Rua" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Rua" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Numero" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Numero" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Complemento" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Referencia" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Referencia" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Bairro" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Bairro" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Cidade" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Cidade" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.Estado" class="control-label"></label>
                <input asp-for="Imovel.Endereco.Estado" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.Endereco.CEP" class="control-label"></label>
                <input asp-for="Imovel.Endereco.CEP" class="form-control" />
                <span asp-validation-for="Imovel.Endereco.CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel.UsuarioId" class="control-label"></label>
                <select asp-for="Imovel.UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
